@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("../assets/fonts/Linotype - HelveticaNeueLTPro-Roman.otf");
}
@font-face {
  font-family: "HelveticaNeueBd";
  src: url("../assets/fonts/Linotype - HelveticaNeueLTPro-Bd.otf");
}
@font-face {
  font-family: "HelveticaNeueMd";
  src: url("../assets/fonts/Linotype - HelveticaNeueLTPro-Md.otf");
}
@font-face {
  font-family: "HelveticaNeueCn";
  src: url("../assets/fonts/Linotype - HelveticaNeueLTPro-MdCn.otf");
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 20px;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  background-color: #e2e8f0;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.header .navbar .nav-logo {
  font-size: 2rem;
  font-family: HelveticaNeueBd;
  color: black;
}
.header .navbar .hamburger {
  display: none;
}
.header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.header .navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .nav-menu .nav-item {
  margin-left: 5rem;
}
.header .navbar .nav-menu .nav-item .nav-link {
  font-size: 0.7rem;
  font-weight: 400;
  color: black;
  font-family: HelveticaNeueBd;
}
.header .navbar .nav-menu .nav-item .nav-link:hover {
  color: blueviolet;
}
.header .navbar .nav-menu .nav-item-btn {
  margin-left: 5rem;
}
.header .navbar .nav-menu .nav-item-btn .nav-link {
  font-size: 0.7rem;
  font-family: HelveticaNeueMd;
  color: white;
  background-color: blueviolet;
  padding: 0.8rem 1rem 0.6rem;
  border: 0;
  border-radius: 5px;
}
.header .navbar .nav-menu .nav-item-btn .nav-link:hover {
  color: blueviolet;
  background-color: white;
}
.header .navbar .nav-menu > .active > a {
  color: blueviolet !important;
}

body {
  margin: 0;
}

.main {
  background-image: url("../assets/images/Header_BG.png");
  background-color: #e4e2e2;
  background-position: center right;
  background-size: cover;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 4rem 0;
}
.main .text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0 4rem;
}
.main .text-block .title {
  font-size: 3rem;
  font-family: HelveticaNeueBd;
  color: blueviolet;
  margin: 0;
}
.main .text-block .sub-title {
  font-size: 1rem;
  font-family: HelveticaNeueRoman;
}
.main .info-block {
  display: flex;
  justify-content: center;
  margin: auto;
}
.main .info-block .info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  width: 400px;
}
.main .info-block .info-box .sub-title {
  font-size: 1.1rem;
  font-family: HelveticaNeueMd;
  margin: 1rem 0;
  text-align: center;
}
.main .info-block .info-box .par {
  font-size: 1rem;
  font-family: HelveticaNeueRoman;
  margin: 0;
  text-align: center;
  padding: 0 3rem;
}

.about {
  padding: 4rem 0;
}
.about .text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}
.about .text-block .title {
  font-size: 1.4rem;
  font-family: HelveticaNeueMd;
  color: blueviolet;
  margin: 0;
}
.about .text-block .sub-title {
  font-size: 1rem;
  font-family: HelveticaNeueMd;
  text-align: center;
  line-height: 1.7rem;
}

.pricing {
  padding: 0 0 5rem;
}
.pricing .table-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}
.pricing .table-block .title {
  font-size: 1.8rem;
  font-family: HelveticaNeueMd;
  margin: 0;
}
.pricing .table-block .sub-title {
  font-size: 1.1rem;
  font-family: HelveticaNeueBd;
  text-align: center;
}
.pricing .table-block .table {
  display: flex;
  flex-direction: row;
  background-image: url("../assets/images/tableBG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 3rem;
}
.pricing .table-block .table .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
.pricing .table-block .table .column .table-title {
  font-size: 1.2rem;
  font-family: HelveticaNeueMd;
  margin: 0;
  padding: 1.1rem;
  height: 1.5rem;
}
.pricing .table-block .table .column .purple {
  color: blueviolet;
}
.pricing .table-block .table .column .border {
  border-bottom: 1px solid #e2e8f0;
  width: 100%;
}
.pricing .table-block .table .column .img-block {
  text-align: center;
}
.pricing .table-block .table .column .img-block .img {
  height: 1.2rem;
  padding: 0.8rem;
}
.pricing .table-block .table .column span:last-of-type {
  padding-bottom: 2rem;
}
.pricing .table-block .table .column .table-par {
  font-size: 0.8rem;
  font-family: HelveticaNeueRoman;
  margin: 0;
  padding: 0.8rem;
  text-align: center;
  line-height: 1rem;
  height: 1.5rem;
}
.pricing .table-block .table .column:first-of-type {
  align-items: start;
  background-color: rgba(255, 255, 255, 0.4);
}
.pricing .table-block .table .column:first-of-type .table-par {
  font-size: 0.8rem;
  font-family: HelveticaNeueBd;
  margin: 0;
  padding: 0.8rem 0;
  text-align: start;
  line-height: 1rem;
  height: 1.5rem;
}
.pricing .table-block .table .column:nth-of-type(2n) {
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pricing .table-block .table .column:last-of-type {
  background-color: rgba(226, 232, 240, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.register {
  padding: 3rem 0;
  background-image: url("../assets/images/Enterprise_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.register .text-block {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
}
.register .text-block .title {
  font-size: 2.8rem;
  font-family: HelveticaNeueMd;
  color: white;
  margin: 0;
}
.register .text-block .btn-block {
  display: flex;
}
.register .text-block .btn-block .sub-title {
  font-size: 1rem;
  font-family: HelveticaNeueRoman;
  color: white;
  margin-right: 3rem;
  line-height: 1.7rem;
}
.register .text-block .btn-block .btn {
  font-size: 0.9rem;
  font-family: HelveticaNeueBd;
  color: blueviolet;
  padding: 0.5rem 2rem 0.3rem;
  width: 15rem;
  height: 3.5rem;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.register .text-block .btn-block .btn:hover {
  border: 1px solid white;
  color: white;
  background-color: blueviolet;
}

.lorem {
  padding: 4rem 0;
  background-color: #e4e2e2;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.lorem .lorem-block {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1200px;
}
.lorem .lorem-block .text-block {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 3rem;
}
.lorem .lorem-block .text-block .title {
  font-size: 2.8rem;
  font-family: HelveticaNeueMd;
  color: blueviolet;
  margin: 0;
}
.lorem .lorem-block .text-block .sub-title {
  font-size: 1.4rem;
  font-family: HelveticaNeueMd;
  color: black;
  margin-bottom: 0.4rem;
}
.lorem .lorem-block .text-block .par {
  font-size: 1rem;
  font-family: HelveticaNeueMd;
  color: black;
  margin-top: 0.5rem;
  line-height: 1.7rem;
}
.lorem .lorem-block .text-block .btn {
  font-size: 0.9rem;
  font-family: HelveticaNeueMd;
  color: white;
  background-color: blueviolet;
  padding: 0.5rem 2rem 0.3rem;
  width: 8rem;
  height: 3.5rem;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lorem .lorem-block .text-block .btn:hover {
  border: 1px solid blueviolet;
  color: blueviolet;
  background-color: white;
}
.lorem .lorem-block .img-block {
  padding: 0 5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 4rem 0rem;
  justify-content: space-evenly;
}
.footer .footer-block {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.footer .footer-block .sub-title,
.footer .footer-block .par {
  font-size: 0.9rem;
  font-family: HelveticaNeueMd;
}
.footer .footer-block .par-title {
  margin: 0.8rem 0 0;
  font-size: 0.9rem;
  font-family: HelveticaNeueMd;
}
.footer .footer-block .par-sub-title {
  margin: 0.3rem 0 0;
  font-size: 0.7rem;
  font-family: HelveticaNeueBd;
}
.footer .footer-block .sub-title {
  color: blueviolet;
}
.footer .footer-block .socials {
  padding: 0.2rem 0 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .header .navbar .nav-menu .nav-item,
.header .navbar .nav-menu .nav-item-btn {
    margin-left: 2rem;
  }

  .about .text-block {
    padding: 0 10rem;
  }

  .main .info-block .info-box .par {
    padding: 0;
  }
  .main .text-block .title {
    font-size: 2.5rem;
  }

  .register .text-block {
    padding: 0 10rem;
  }
  .register .text-block .title {
    font-size: 2rem;
    text-align: center;
  }
  .register .text-block .btn-block {
    flex-direction: column;
    align-items: center;
  }
  .register .text-block .btn-block .sub-title {
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
  }

  .lorem .lorem-block {
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
  }
  .lorem .lorem-block .text-block {
    align-items: center;
    margin: 0;
    padding-bottom: 3rem;
  }
  .lorem .lorem-block .text-block .title {
    font-size: 2rem;
  }
  .lorem .lorem-block .text-block .sub-title {
    font-size: 1.2rem;
  }
  .lorem .lorem-block .text-block .par {
    text-align: center;
  }
}
@media only screen and (max-width: 950px) {
  .header .navbar .nav-menu {
    position: fixed;
    left: -200%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin: auto;
    padding: 0;
  }
  .header .navbar .nav-menu .nav-item,
.header .navbar .nav-menu .nav-item-btn {
    margin: 1rem 0;
  }
  .header .navbar .nav-menu.active {
    left: 0;
  }
  .header .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .header .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main {
    background-size: cover;
    padding: 4rem 5rem;
  }
  .main .text-block {
    padding-bottom: 2rem;
  }
  .main .text-block .title {
    font-size: 2rem;
  }
  .main .info-block {
    display: block;
  }
  .main .info-block .info-box {
    padding: 0.8rem 2rem;
    width: auto;
  }

  .register {
    padding: 0;
  }
  .register .text-block {
    padding: 4rem 5rem;
  }

  .about .text-block {
    padding: 0 5rem;
  }

  .lorem .lorem-block {
    padding: 0 5rem;
  }
  .lorem .lorem-block .text-block .sub-title {
    text-align: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .footer-block .sub-title .par,
.footer .footer-block .footer .footer-block .par {
    font-size: 1.2rem;
  }
  .footer .footer-block .par-title {
    font-size: 1rem;
  }
  .footer .footer-block .par-sub-title {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    padding: 4rem 2rem;
  }

  .about {
    padding: 0 0 4rem;
  }
  .about .text-block {
    padding: 0 2rem;
  }

  .register .text-block {
    padding: 4rem 2rem;
  }
  .register .text-block .title {
    font-size: 1.6rem;
  }
  .register .text-block .btn-block .sub-title {
    padding: 1rem 0;
  }

  .lorem .lorem-block {
    padding: 0 2rem;
  }
  .lorem .lorem-block .img-block img {
    width: 200px;
    height: 200px;
  }
}

/*# sourceMappingURL=main.css.map */
