$primary-color: #e2e8f0;
$title-color: blueviolet;
$secondary-color: #e4e2e2;
$block-width: 1200px;

@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("../assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Roman.otf");
}
@font-face {
  font-family: "HelveticaNeueBd";
  src: url("../assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Bd.otf");
}
@font-face {
  font-family: "HelveticaNeueMd";
  src: url("../assets/fonts/Linotype\ -\ HelveticaNeueLTPro-Md.otf");
}
@font-face {
  font-family: "HelveticaNeueCn";
  src: url("../assets/fonts/Linotype\ -\ HelveticaNeueLTPro-MdCn.otf");
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.5rem 0;
  background-color: $primary-color;
  min-height: 3rem;
  .nav-logo {
    font-size: 2rem;
    font-family: HelveticaNeueBd;
    color: black;
  }
  .hamburger {
    display: none;
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-item {
      margin-left: 5rem;
      .nav-link {
        font-size: 0.7rem;
        font-weight: 400;
        color: black;
        font-family: HelveticaNeueBd;
        &:hover {
          color: $title-color;
        }
      }
      &.active .nav-link {
        color: $title-color;
      }
    }
    .nav-item:last-of-type {
      margin-left: 2rem;
      .nav-link {
        font-size: 0.7rem;
        font-family: HelveticaNeueMd;
        color: white;
        background-color: $title-color;
        padding: 0.8rem 1rem 0.6rem;
        border: 0;
        border-radius: 5px;
        &:hover {
          color: $title-color;
          background-color: white;
        }
      }
    }
  }
}
.navbar-sub {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
  background-color: $primary-color;
  border-bottom: 1px solid #c9c4c4;
  position: sticky;
  top: 0;
  .nav-menu-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.4rem;
    .nav-item {
      .nav-link {
        font-size: 0.7rem;
        font-weight: 400;
        color: #8b8787;
        font-family: HelveticaNeueRoman;
        padding: 0.5rem 1rem;
      }
      .nav-link:hover {
        color: $title-color;
      }
      &.active .nav-link {
        color: $title-color;
        border-bottom: 1px solid $title-color;
      }
    }
  }
}

.sticky {
  position: sticky;
  top: 0;
  animation: fadein 500ms;
}

.sub-sticky {
  position: sticky;
  top: 3.5rem;
  transform: translateY(0);
  animation: fadein 1000ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
}

.main {
  background-image: url("../assets/images/Header_BG.png");
  background-color: $secondary-color;
  background-position: center right;
  background-size: cover;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 5%);
  padding: 4rem 0;
  .text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0 4rem;
    .title {
      font-size: 3rem;
      font-family: HelveticaNeueBd;
      color: $title-color;
      margin: 0;
      padding-bottom: 1rem;
    }
    .sub-title {
      font-size: 1rem;
      font-family: HelveticaNeueRoman;
    }
  }
  .info-block {
    display: flex;
    justify-content: center;
    margin: auto;
    .info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem;
      width: 500px;
      .sub-title {
        font-size: 1.1rem;
        font-family: HelveticaNeueMd;
        margin: 1rem 0;
        text-align: center;
      }
      .par {
        font-size: 1rem;
        font-family: HelveticaNeueRoman;
        margin: 0;
        text-align: center;
        padding: 0 3rem;
      }
    }
  }
}

.about {
  padding: 4rem 0;
  .text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: $block-width;
    .title {
      font-size: 1.4rem;
      font-family: HelveticaNeueMd;
      color: $title-color;
      margin: 0;
      padding-bottom: 1rem;
    }
    .sub-title {
      font-size: 1rem;
      font-family: HelveticaNeueMd;
      text-align: center;
      line-height: 1.7rem;
    }
  }
}

.pricing {
  padding: 0 0 5rem;
  .table-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: $block-width;

    .title {
      font-size: 1.8rem;
      font-family: HelveticaNeueMd;
      margin: 0;
    }
    .sub-title {
      font-size: 1.1rem;
      font-family: HelveticaNeueBd;
      text-align: center;
    }
    .table {
      display: flex;
      flex-direction: row;
      background-image: url("../assets/images/tableBG.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-position-y: -3vh;
      margin-top: 3rem;
      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        .table-title {
          font-size: 1.2rem;
          font-family: HelveticaNeueMd;
          margin: 0;
          padding: 1.1rem;
          height: 1.5rem;
        }
        .purple {
          color: $title-color;
        }
        .border {
          border-bottom: 1px solid $primary-color;
          width: 100%;
          height: 3.2rem;
        }
        .img-block {
          text-align: center;
          .img {
            height: 1.2rem;
            padding: 0.8rem;
          }
        }
        span:last-of-type {
          padding-bottom: 2rem;
        }
        .table-par {
          font-size: 0.8rem;
          font-family: HelveticaNeueRoman;
          margin: 0;
          padding: 1.2rem 0.8rem;
          text-align: center;
          line-height: 1rem;
        }
      }
      .column:first-of-type {
        align-items: start;
        background-color: rgba(white, 0.2);
        .table-par {
          font-size: 0.8rem;
          font-family: HelveticaNeueBd;
          margin: 0;
          padding: 1.2rem 0;
          text-align: start;
          line-height: 1rem;
        }
      }
      .column:nth-of-type(2n) {
        background-color: rgba(white, 0.7);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.2),
          0px -5px 20px -5px rgba(0, 0, 0, 0.19);
      }
      .column:last-of-type {
        background-color: rgba($primary-color, 0.5);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
  }
}

.register {
  padding: 4.5rem 0;
  background-image: url("../assets/images/Enterprise_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  .text-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: $block-width;
    .title {
      font-size: 2.8rem;
      font-family: HelveticaNeueMd;
      color: white;
      margin: 0;
      padding-bottom: 1rem;
    }
    .btn-block {
      display: flex;
      .sub-title {
        font-size: 1rem;
        font-family: HelveticaNeueRoman;
        color: white;
        margin-right: 3rem;
        margin: 0 3rem 0 0;
        line-height: 1.7rem;
      }
      .btn {
        font-size: 0.9rem;
        font-family: HelveticaNeueBd;
        color: $title-color;
        padding: 0.5rem 2rem 0.3rem;
        width: 15rem;
        height: 3.5rem;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%),
          0 6px 20px 0 rgb(0 0 0 / 19%);
      }
      .btn:hover {
        border: 1px solid white;
        color: white;
        background-color: $title-color;
      }
    }
  }
}

.lorem {
  padding: 5rem 0 10rem;
  background-color: $secondary-color;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 5%);
  .lorem-block {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: $block-width;
    .text-block {
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-right: 3rem;
      .title {
        font-size: 2.8rem;
        font-family: HelveticaNeueMd;
        color: $title-color;
        margin: 0;
      }
      .sub-title {
        font-size: 1.4rem;
        font-family: HelveticaNeueMd;
        color: black;
        margin-bottom: 0.4rem;
      }
      .par {
        font-size: 1rem;
        font-family: HelveticaNeueMd;
        color: black;
        margin-top: 0.5rem;
        line-height: 1.7rem;
      }
      .btn {
        font-size: 0.9rem;
        font-family: HelveticaNeueMd;
        color: white;
        background-color: $title-color;
        padding: 0.5rem 1.5rem 0.3rem;
        width: 8rem;
        height: 3rem;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%),
          0 6px 20px 0 rgb(0 0 0 / 19%);
      }
      .btn:hover {
        border: 1px solid $title-color;
        color: $title-color;
        background-color: white;
      }
    }
    .img-block {
      padding: 0 5rem;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 4rem 0rem;
  justify-content: space-evenly;
  .footer-block {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    .sub-title,
    .par {
      font-size: 0.9rem;
      font-family: HelveticaNeueBd;
      width: 8rem;
    }
    .par-title {
      margin: 0.8rem 0 0;
      font-size: 0.9rem;
      font-family: HelveticaNeueMd;
    }
    .par-sub-title {
      margin: 0.3rem 0 0;
      font-size: 0.7rem;
      font-family: HelveticaNeueBd;
    }
    .sub-title {
      color: $title-color;
    }
    .socials {
      padding: 0.2rem 0 1.5rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .navbar .nav-menu .nav-item,
  .navbar .nav-menu .nav-item-btn {
    margin-left: 2rem;
  }

  .about {
    .text-block {
      padding: 0 10rem;
    }
  }

  .main {
    .info-block .info-box .par {
      padding: 0;
    }
    .text-block .title {
      font-size: 2.5rem;
    }
  }

  .register .text-block {
    padding: 0 10rem;
    .title {
      font-size: 2rem;
      text-align: center;
    }
    .btn-block {
      flex-direction: column;
      align-items: center;
      .sub-title {
        text-align: center;
        margin: 0;
        padding: 0.5rem 0;
      }
    }
  }

  .lorem .lorem-block {
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
    .text-block {
      align-items: center;
      margin: 0;
      padding-bottom: 3rem;
      .title {
        font-size: 2rem;
      }
      .sub-title {
        font-size: 1.2rem;
      }
      .par {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .navbar {
    position: sticky;
    top: 0;
    .nav-menu {
      position: fixed;
      left: -200%;
      top: 3.5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 0px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      margin: auto;
      padding: 0;
      .nav-item,
      .nav-item-btn {
        margin: 1rem 0;
      }
    }
    .nav-menu.active {
      left: 0;
    }
    .hamburger {
      display: block;
      cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .navbar-sub {
    position: unset;
  }

  .main {
    background-size: cover;
    padding: 4rem 5rem;
    .text-block {
      padding-bottom: 2rem;
      .title {
        font-size: 2rem;
      }
    }
    .info-block {
      display: block;
      .info-box {
        padding: 0.8rem 2rem;
        width: auto;
      }
    }
  }

  .register {
    padding: 0;
    .text-block {
      padding: 4rem 5rem;
    }
  }

  .about .text-block {
    padding: 0 5rem;
  }

  .lorem {
    padding: 5rem 0;
    .lorem-block {
      padding: 0 5rem;
      .text-block .sub-title {
        text-align: center;
      }
    }
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .footer-block {
      .sub-title,
      .footer .footer-block {
        .par {
          font-size: 1.2rem;
        }
      }
      .par-title {
        font-size: 1rem;
      }
      .par-sub-title {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .main {
    padding: 4rem 2rem;
  }

  .about {
    padding: 0 0 4rem;
    .text-block {
      padding: 0 2rem;
    }
  }

  .register .text-block {
    padding: 4rem 2rem;
    .title {
      font-size: 1.6rem;
    }
    .btn-block {
      .sub-title {
        padding: 1rem 0;
      }
    }
  }

  .lorem .lorem-block {
    padding: 0 2rem;
    .img-block img {
      width: 200px;
      height: 200px;
    }
  }
}
